@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.logo-height {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
}

.logo-height-active {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}

.menu {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #cfc5c5;
  text-transform: uppercase;
}

.individual-bar-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 27px;
  color: #f6f6f6;
}

.custom-gradient-1 {
  background: linear-gradient(180deg, #4c0000 0%, #0a0a0a 100%),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 73.01%,
      rgba(15, 15, 15, 0.6) 73.01%
    );
}

.custom-gradient-2 {
  background: linear-gradient(180deg, #240000 0%, #0c0c0c 100%);
}

.custom-bg {
  background-image: url("/assets/Background.svg");
  height: 160px;
  width: 90%;
  gap: 0px;
  border-radius: 40px;
}

.box-shadow {
  box-shadow: 0px 0px 10px 0px #00000040;
}

.MuiSlider-thumb {
  background-image: url("/assets/Thumb.svg");
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
}

.selected-music {
  background-color: #520000;
  border-left: 4px solid #ca0000;
}

@media (min-width: 600px) {
  .custom-bg {
    height: 280px;
  }
}

@media (max-width: 1024px) {
  .logo-height-active,
  .logo-height {
    /* display: none; */
    margin: auto;
  }
  .menu {
    display: none;
  }
}

@media (min-width: 1280px) {
  .logo-height {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
  }

  .logo-height-active {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
  }

  .custom-bg {
    height: 343px;
  }
}

@media (min-width: 1480px) {
  .logo-height {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
  }

  .logo-height-active {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
  }
}
